
@{
    ViewData["Title"] = "Index";
}

@model VisionPos.Models.ViewModels.CustomerCustomerTypeListViewModel


@{
    var action = "";
    if (Model.Customer.Id == 0)
    {
        action = "Create";
    }
    else
    {
        action = "Edit";
    }

}
@if (TempData["DangerMessage"] != null)
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small class="text-muted">11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
}
<form method="post" asp-action="@action">
    <div style="padding:80px">
        <div class="border whitebackgroundBorder" style="padding:100px;width:800px;height:auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (action == "Edit")
            {
                <h4 class="text-info">Edit</h4>
                <div class="row">
                    <div class="col-2 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.Id"></label>
                        <input asp-for="@Model.Customer.Id" readonly class="form-control" value="@Model.Customer.Id"/>
                        @*<span asp-validation-for="@Model.Id" class="text-danger"></span>*@
                    </div>
                    <div class="col-6 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.Name"></label>
                        <input asp-for="@Model.Customer.Name" id="NameId" class="form-control" value="@Model.Customer.Name"/>
                        <span asp-validation-for="@Model.Customer.Name" class="text-danger"></span>
                    </div>
                    <div class="col-4 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.CustomerType"></label>
                       
                        <select id="ddlCustomerTypeList" asp-for="@Model.Customer.CustomerType" asp-items="@Model.CustomersList" class="form-select"></select>
                        @*<span asp-validation-for="@Model.Name" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.Address"></label>
                        <input asp-for="@Model.Customer.Address" class="form-control" value="@Model.Customer.Address"/>
                        <span asp-validation-for="@Model.Customer.Address" class="text-danger"></span>
                    </div>
                    <div class="col-4 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.PhoneNumber"></label>
                        <input asp-for="@Model.Customer.PhoneNumber" class="form-control" value="@Model.Customer.PhoneNumber"/>
                        <span asp-validation-for="@Model.Customer.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2 row" style="padding:0px 0px 0px 13px">
                    <div class="col-1 form-group-row text-end" style="padding:10px 1px;">
                        <input type="checkbox" asp-for="@Model.Customer.IsActive" style="margin:0px 23px 0px 0px" />
                        <span asp-validation-for="@Model.Customer.IsActive" class="text-danger"></span>
                    </div>
                    <div class="col-1 form-group-row text-start">
                        <label class="col-form-label" style="padding: 8px 0px 0px 0px" asp-for="@Model.Customer.IsActive"></label>
                    </div>
                </div>
                <partial name="_EditAndBackToListPartialView" />
            }
            else
            {
                <h4 class="text-info">Create</h4>
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-2 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.Id"></label>
                        <input asp-for="@Model.Customer.Id" readonly class="form-control" />
                        @*<span asp-validation-for="@Model.Id" class="text-danger"></span>*@
                    </div>
                    <div class="col-6 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.Name"></label>
                        <input asp-for="@Model.Customer.Name" id="NameId" class="form-control" />
                        <span asp-validation-for="@Model.Customer.Name" class="text-danger"></span>
                    </div>
                    <div class="col-4 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.CustomerType"></label>
                        <select id="ddlCustomerTypeList" asp-for="@Model.Customer.CustomerType" asp-items="@Model.CustomersList" class="form-select"></select>
                        @*<span asp-validation-for="@Model.Name" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.Address"></label>
                        <input asp-for="@Model.Customer.Address" class="form-control" />
                        <span asp-validation-for="@Model.Customer.Address" class="text-danger"></span>
                    </div>
                    <div class="col-4 form-group-row">
                        <label class="col-form-label" asp-for="@Model.Customer.PhoneNumber"></label>
                        <input asp-for="@Model.Customer.PhoneNumber" class="form-control" />
                        <span asp-validation-for="@Model.Customer.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2 row" style="padding:0px 0px 0px 13px">
                    <div class="col-1 form-group-row text-end" style="padding:10px 1px;">
                        <input type="checkbox" asp-for="@Model.Customer.IsActive" style="margin:0px 23px 0px 0px"/>
                        <span asp-validation-for="@Model.Customer.IsActive" class="text-danger"></span>
                    </div>
                    <div class="col-1 form-group-row text-start">
                        <label class="col-form-label" style="padding: 8px 0px 0px 0px" asp-for="@Model.Customer.IsActive"></label>
                    </div>
                </div>
                <partial name="_CreateAndBackToListPartialView" />
            }

        </div>


    </div>
</form>



@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
