@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Customer
<div class="row">
    <div class="col-2 form-group-row">
        <label class="col-form-label" asp-for="@Model.Name"></label>
    </div>
    <div class="col-10 form-group-row">
        <input asp-for="@Model.Name" class="form-control" readonly value="@Model.Name" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-2 form-group-row">
        <label class="col-form-label" asp-for="@Model.CustomerTypes.CustomerType"></label>
    </div>
    <div class="col-10 form-group-row">
        <input asp-for="@Model.CustomerTypes.CustomerType" class="form-control" readonly value="@Model.CustomerTypes.CustomerType" />
        <span asp-validation-for="@Model.CustomerTypes.CustomerType" class="text-danger"></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-2 form-group-row">
        <label class="col-form-label" asp-for="@Model.Address"></label>
    </div>
    <div class="col-10 form-group-row">
        <input asp-for="@Model.Address" class="form-control" readonly value="@Model.Address" />
        <span asp-validation-for="@Model.Address" class="text-danger"></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-2 form-group-row">
        <label class="col-form-label" asp-for="@Model.IsActive"></label>
    </div>
    <div class="col-10 form-group-row">
        <input type="checkbox" asp-for="@Model.IsActive" disabled/>
        <span asp-validation-for="@Model.IsActive" class="text-danger"></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-2 form-group-row">
        <label class="col-form-label" asp-for="@Model.CreationDate"></label>
    </div>
    <div class="col-10 form-group-row">
        <input type="datetime" asp-for="@Model.CreationDate" readonly class="form-control" value="@Model.CreationDate.ToString("dd-MMM-yyyy")" />
        @*<span asp-validation-for="@Model.CreationDate" class="text-danger"></span>*@
    </div>
</div>