@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VisionPos.Models.ViewModels.SalesInvoiceSalesItemsViewModel



<div class="row row_@Model.myCount">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-3 form-group-row">
        <label class="col-form-label" asp-for="@Model.SaleInvoiceItems.ItemId"></label>
        <select asp-for="@Model.SaleInvoiceItems.ItemId" onchange="getrate(@Model.myCount)" asp-items="@Model.ItemsList" class="form-select PItemsList_@Model.myCount" id="PItemsList"></select>
        <span asp-validation-for="@Model.SaleInvoiceItems.ItemId" class="text-danger"></span>
    </div>
    <div class="col-2 form-group-row">
        <label class="col-form-label" asp-for="@Model.SaleInvoiceItems.Quantity"></label>
        <input type="datetime" asp-for="@Model.SaleInvoiceItems.Quantity" onchange="calculateTotalForRow(@Model.myCount)" class="form-control SIQuantity_@Model.myCount" />
        <span asp-validation-for="@Model.SaleInvoiceItems.Quantity" class="text-danger"></span>
    </div>
    <div class="col-2 form-group-row">
        <label class="col-form-label" asp-for="@Model.SaleInvoiceItems.Rate"></label>
        <input asp-for="@Model.SaleInvoiceItems.Rate" readonly class="form-control SIRate_@Model.myCount" />
        <span asp-validation-for="@Model.SaleInvoiceItems.Rate" class="text-danger"></span>
    </div>
    <div class="col-2 form-group-row">
        <label class="col-form-label" asp-for="@Model.SaleInvoice.Discount"></label>
        <input asp-for="@Model.SaleInvoice.Discount" onchange="calculateTotalAfterDiscount(@Model.myCount)" class="form-control SIDiscount_@Model.myCount" value="0"/>
        <span asp-validation-for="@Model.SaleInvoice.Discount" class="text-danger"></span>
    </div>
    <div class="col-2 form-group-row">
        <label type="text" class="col-form-label">Total</label>
        <input id="SaleItemTotal" readonly class="form-control" />
    </div>
    <div class="col-1 form-group-row" style="padding:37px 0px 0px 26px">
        <button type="submit" class="btn btn-danger" id="Btn_DeleteInvoiceItem"><i class="fa-solid fa-trash"></i></button>
    </div>
</div>
@*<div class="row">
        <div class="col-3 form-group-row">
            <label class="col-form-label" asp-for="@Model.SaleInvoice.CustomerId"></label>
            <select id="ddlCustomerList" asp-for="@Model.SaleInvoice.CustomerId" asp-items="@Model.CustomerList" class="form-select"></select>
            <span asp-validation-for="@Model.SaleInvoice.CustomerId" class="text-danger"></span>
        </div>
        <div class="col-9 form-group-row">
            <label class="col-form-label" asp-for="@Model.SaleInvoice.Description"></label>
            <input asp-for="@Model.SaleInvoice.Description" class="form-control" />
            <span asp-validation-for="@Model.SaleInvoice.Description" class="text-danger"></span>
        </div>
    </div>*@
@*@section scripts
{
    <script>
        @count = @Model.Count
    </script>
}*@
